{% extends 'base/base.html' %}

{% block head_content %}
{% endblock %}

{% block content %}

<!--
Responsive table
https://tailwindcomponents.com/component/responsive-table
-->

{% comment %} <a href="riders/new">riders/new</a> {% endcomment %}

<div class="px-4">
    <div class="flex justify-center items-center text-gray-600 text-3xl mt-4">
    Texas Grand Tour Riders
    </div>

    <div>
        <a href="{% url 'new-rider' %}" class="bg-gray-300 hover:bg-gray-400 text-gray-600
                       py-2 px-4 mr-1 rounded inline-flex items-center mt-2 mb-2">
            <i class="far fa-plus-circle"></i>&nbsp;New rider
        </a>
    </div>

    <!--
    Add pagination
    https://www.youtube.com/watch?v=Z8MDdDyB_6A
    -->


    <table class="border-collapse w-full">
        <thead>
            <tr>
                <th
                    class="p-3 font-bold uppercase bg-gray-200 text-left text-gray-600 border border-gray-300 hidden lg:table-cell">
                    Rider</th>
                <th
                    class="p-3 font-bold uppercase bg-gray-200 text-left text-gray-600 border border-gray-300 hidden lg:table-cell">
                    City/State</th>
                <th
                    class="p-3 font-bold uppercase bg-gray-200 text-left text-gray-600 border border-gray-300 hidden lg:table-cell">
                    Phone</th>
                <th
                    class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">
                    Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for rider in riders %}
            <tr
                class="bg-white lg:hover:bg-gray-300 flex lg:table-row flex-row lg:flex-row flex-wrap lg:flex-no-wrap mb-10 lg:mb-0
                 {% cycle 'bg-green-100' 'bg-gray-200' %}
                 "
                >
                <td
                    class="w-full lg:w-auto p-3 text-gray-800 text-center lg:text-left border border-b block lg:table-cell relative lg:static">
                    <span
                        class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Rider</span>
                    {{rider.full_name}}
                </td>
                <td
                    class="w-full lg:w-auto p-3 text-gray-800 text-center lg:text-left  border border-b block lg:table-cell relative lg:static">
                    <span
                        class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">City/State</span>
                    {{rider.city_state}}
                </td>
                <td
                    class="w-full lg:w-auto p-3 text-gray-800 text-center lg:text-left  border border-b block lg:table-cell relative lg:static">
                    <span
                        class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Phone</span>
                    {{rider.phone}}
                </td>
                <td
                    class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
                    <span
                        class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Actions</span>
                    <a href="/riders/{{rider.id}}/edit" class="bg-gray-300 hover:bg-gray-400 text-gray-600
                                                               py-2 px-4 mr-1 rounded inline-flex items-center mt-2 mb-2"" title="Edit">
                                                               <i class="far fa-edit"></i><span>&nbsp;Edit</span></a>

                    <a href="#" class="bg-gray-300 hover:bg-gray-400 text-gray-600
                                               py-2 px-4 mr-1 rounded inline-flex items-center mt-2 mb-2" title="Delete">
                                               <i class="far fa-minus-circle"></i><span>&nbsp;Delete</span></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

        {% comment %} <a href="{% url 'new-rider' %}" class="bg-gray-300 hover:bg-gray-400 text-gray-600
                       font-bold py-2 px-4 mr-1 rounded inline-flex items-center mt-2 mb-2">
            <i class="far fa-plus-circle"></i>&nbsp;New rider
        </a> {% endcomment %}



    <div class="flex justify-center mt-4">
        <a href="?page=1" class="bg-gray-300 hover:bg-gray-400 text-gray-600
                       font-bold py-2 px-4 mr-1 rounded inline-flex items-center">
            <i class="fas fa-chevron-double-left"></i>
        </a>
        <a href="?page={{riders.number | add:'-1'}}" class="bg-gray-300 hover:bg-gray-400 text-gray-600
                       font-bold py-2 px-4 mr-1 rounded inline-flex items-center">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a href="?page={{riders.number | add:'1'}}" class="bg-gray-300 hover:bg-gray-400 text-gray-600
                       font-bold py-2 px-4 mr-1 rounded inline-flex items-center">
            <i class="fas fa-chevron-right"></i>
        </a>
        <a href="?page={{riders.paginator.num_pages}}" class="bg-gray-300 hover:bg-gray-400 text-gray-600
                       font-bold py-2 px-4 mr-1 rounded inline-flex items-center">
            <i class="fas fa-chevron-double-right"></i>
        </a>
    </div>
    <div class="flex justify-center mt-2 text-gray-600">
        Page {{riders.number}} of {{riders.paginator.num_pages}}<br>
    </div>

</div>
{% endblock%}
