{% extends 'base/base.html' %}
{% load static %}

{% block head_content %}
    <style>
        .bg-smoke {
            background-color: rgba( 0,0,0,.5);
        }

        .fade-enter-active, .fade-leave-active {
            transition: opacity .5s;
        }
        .fade-enter, .fade-leave-to {
            opacity: 0;
        }

        @media all and (min-width: 1024px) {
            table.riders-list td:nth-child(1) {
                width: 35%;
            }
            table.riders-list td:nth-child(2) {
                width: 25%;
            }
            table.riders-list td:nth-child(3) {
                width: 15%;
            }
        }
    </style>
{% endblock %}

{% block content %}

<!--
Responsive table
https://tailwindcomponents.com/component/responsive-table
-->

{% comment %} <a href="riders/new">riders/new</a> {% endcomment %}

<div class="px-4" id="app">

{% comment %} <button @click="toggleModal('cancel')" class="bg-teal-500 text-white px-3 py-1 rounded-full">
    View modal
</button> {% endcomment %}

    <div class="flex justify-center items-center text-gray-600 text-3xl mt-4">
    Texas Grand Tour Riders
    </div>

    <div>
        <a href="{% url 'new-rider' %}" class="bg-gray-300 hover:bg-gray-400 text-gray-600
                       py-2 px-4 mr-1 rounded inline-flex items-center mt-2 mb-2">
            <i class="far fa-plus-circle"></i>&nbsp;New rider
        </a>
    </div>

    <!--
    Add pagination
    https://www.youtube.com/watch?v=Z8MDdDyB_6A
    -->


    <table class="riders-list border-collapse w-full">
        {% comment %} <colgroup>
            <col width="35%">
            <col width="25%">
            <col width="15%">
            <col width="25%">
        </colgroup> {% endcomment %}
        <thead>
            <tr>
                <th
                    class="p-3 font-bold uppercase bg-gray-200 text-left text-gray-600 border border-gray-300 hidden lg:table-cell">
                    Rider</th>
                <th
                    class="p-3 font-bold uppercase bg-gray-200 text-left text-gray-600 border border-gray-300 hidden lg:table-cell">
                    City/State</th>
                <th
                    class="p-3 font-bold uppercase bg-gray-200 text-left text-gray-600 border border-gray-300 hidden lg:table-cell">
                    Phone</th>
                <th
                    class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">
                    Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for rider in riders %}
            <tr data-row-id="row-{{ forloop.counter0 }}" data-rider-id="{{rider.id}}"
                class="bg-white lg:hover:bg-gray-300 flex lg:table-row flex-row lg:flex-row flex-wrap lg:flex-no-wrap mb-10 lg:mb-0
                 {% cycle 'bg-green-100' 'bg-gray-200' %}
                 "
                >
                <td
                    class="w-full lg:w-auto p-3 text-gray-800 text-center lg:text-left border border-b block lg:table-cell relative lg:static">
                    <span
                        class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Rider</span>
                    <span data-rider-name="{{forloop.counter0}}">{{rider.full_name}}</span>
                </td>
                <td
                    class="w-full lg:w-auto p-3 text-gray-800 text-center lg:text-left  border border-b block lg:table-cell relative lg:static">
                    <span
                        class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">City/State</span>
                    {{rider.city_state}}
                </td>
                <td
                    class="w-full lg:w-auto p-3 text-gray-800 text-center lg:text-left border border-b block lg:table-cell relative lg:static">
                    <span
                        class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Phone</span>
                    {{rider.phone}}
                </td>
                <td
                    class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
                    <span
                        class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Actions</span>
                    <a href="/riders/{{rider.id}}/edit" class="bg-gray-300 hover:bg-gray-400 text-gray-600
                                                               py-2 px-4 mr-1 rounded inline-flex items-center mt-2 mb-2" title="Edit">
                                                               <i class="far fa-edit"></i><span>&nbsp;Edit</span></a>

                    <button  @click="showModal($event)" data-action="roger-pence" data-row-number="{{ forloop.counter0 }}"
                                               class="bg-gray-300 hover:bg-gray-400 text-gray-600
                                               py-2 px-4 mr-1 rounded inline-flex items-center mt-2 mb-2" title="Delete">
                                               <i class="far fa-minus-circle"></i><span>&nbsp;Delete</span></button>



{% comment %}
                    <a href="#" class="bg-gray-300 hover:bg-gray-400 text-gray-600
                                               py-2 px-4 mr-1 rounded inline-flex items-center mt-2 mb-2" title="Delete">
                                               <i class="far fa-minus-circle"></i><span>&nbsp;Delete</span></a> {% endcomment %}


                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

        {% comment %} <a href="{% url 'new-rider' %}" class="bg-gray-300 hover:bg-gray-400 text-gray-600
                       font-bold py-2 px-4 mr-1 rounded inline-flex items-center mt-2 mb-2">
            <i class="far fa-plus-circle"></i>&nbsp;New rider
        </a> {% endcomment %}



    <div class="flex justify-center mt-4">
        <a href="?page=1" class="bg-gray-300 hover:bg-gray-400 text-gray-600
                       font-bold py-2 px-4 mr-1 rounded inline-flex items-center">
            <i class="fas fa-chevron-double-left"></i>
        </a>
        <a href="?page={{riders.number | add:'-1'}}" class="bg-gray-300 hover:bg-gray-400 text-gray-600
                       font-bold py-2 px-4 mr-1 rounded inline-flex items-center">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a href="?page={{riders.number | add:'1'}}" class="bg-gray-300 hover:bg-gray-400 text-gray-600
                       font-bold py-2 px-4 mr-1 rounded inline-flex items-center">
            <i class="fas fa-chevron-right"></i>
        </a>
        <a href="?page={{riders.paginator.num_pages}}" class="bg-gray-300 hover:bg-gray-400 text-gray-600
                       font-bold py-2 px-4 mr-1 rounded inline-flex items-center">
            <i class="fas fa-chevron-double-right"></i>
        </a>
    </div>
    <div class="flex justify-center mt-2 text-gray-600">
        Page {{riders.number}} of {{riders.paginator.num_pages}}<br>
    </div>

    <transition name="fade">
        <div v-if="visible"
                class="bg-smoke absolute top-0 h-screen 50vh w-full
                    flex justify-center items-center">
            <div class="bg-white p-4 rounded w-3/4 md:w-1/3 border border-solid border-gray-500">
                <div class="flex justify-center text-1xl md:text-2xl" v-html="message">

                </div>
                <div class="flex justify-center mt-4">
                    <button @click="closeModal('yes')"
                            class="w-24 bg-green-500 text-white mt-4 mr-6 px-4
                                    py-2 rounded-md">
                        Yes
                    </button>
                    <button @click="closeModal('no')"
                            class="w-24 bg-red-500 text-white mt-4 px-4 py-2
                                    rounded-md">
                        No
                    </button>
                </div>
            </div>
        </div>
    </transition>

</div>

<script type="module" src="{% static 'js/main.js' %}"></script>

{% endblock%}
