{% extends 'base/base.html' %}
{% load static %}
{% load mytags %}

{% block head_content %}
{% endblock %}

{% block content %}
    <section class="flex items-center justify-center mt-8 px-4 md:px-0">
        <form method="POST" action="{{form_action}}">
            {% csrf_token %}
            <input type="hidden" name="id" id="id" value="{{rider_id}}"/><br>

                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full md:w-1/2 px-3 mb-2 md:mb-0 pb-3">
                        <label class="block uppercase tracking-wide text-gray-500 text-xs font-bold mb-2" for="first-name">First Name</label>
                        <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4
                                      leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                id="first_name" name="first_name" type="text" placeholder="First name" value="{{form.first_name.value}}">
                        <div>
                            <ul class="pl-2 text-red-600">
                                {{form.first_name.errors}}
                            </ul>
                        </div>
                    </div>

                    <div class="w-full md:w-1/2 px-3 pb-3">
                        <label class="block uppercase tracking-wide text-gray-500 text-xs font-bold mb-2" for="last_name">Last Name</label>
                        <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4
                                      leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                id="last_name" name="last_name" type="text" placeholder="Last name" value="{{form.last_name.value}}">
                        <ul class="pl-2 text-red-600">
                                {{form.last_name.errors}}
                        </ul>
                    </div>
                </div>

                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full px-3">
                        <label class="block uppercase tracking-wide text-gray-500 text-xs font-bold mb-2" for="address">Address</label>
                        <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4
                                      mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                id="address" name="address" type="text" value="{{form.address.value}}">
                        <ul class="pl-2 text-red-600">
                            {{form.address.errors}}
                        </ul>
                    </div>
                </div>

                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full px-3">
                        <label class="block uppercase tracking-wide text-gray-500 text-xs font-bold mb-2" for="city">City</label>
                        <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4
                                      mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                id="city" name="city" type="text" value="{{form.city.value}}">
                        <ul class="pl-2 text-red-600">
                            {{form.city.errors}}
                        </ul>
                    </div>
                </div>

                <div class="flex flex-wrap -mx-3 mb-6 pb-3">
                    <div class="w-full px-3">
                        <label class="block uppercase tracking-wide text-gray-500 text-xs font-bold mb-2" for="state">State</label>
                        <select name="state" id="state" class="select-css">
                            {{states_options_list | safe}}
                        </select>
                        <ul class="pl-2 text-red-600">
                            {{form.state.errors}}
                        </ul>

                        <!--
                        This is the Tailwind select that flashes a large in the lower half of the screen. This
                        is related to the SVG used for the dropdown arrow. I'm using the Filament group select
                        tag styling for now to avoid this.
                        -->
                        {% comment %} <div class="relative">
                            <select
                                class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700
                                    py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                id="state" name="state">
                                {{options_list | safe}}
                            </select>
                            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                    <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
                            </div>
                        </div> {% endcomment %}

                    </div>
                </div>

                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full px-3">
                        <label class="block uppercase tracking-wide text-gray-500 text-xs font-bold mb-2" for="phone">Phone</label>
                        <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4
                                      mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                id="phone" name="phone" type="text" value="{{form.phone.value}}">
                        <ul class="pl-2 text-red-600">
                            {{form.phone.errors}}
                        </ul>
                    </div>
                </div>

            <div>
                <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
                        type="submit">Submit</button>

                <a href="{% url 'riders-list' %}" class="ml-4 text-gray-700 hover:underline"
                        type="submit">Cancel</a>

            </div>
        </form>
    </section>
{% endblock %}


{% block script_content %}
<script>
    document.getElementById('first_name').focus();
</script>
{% endblock %}
