{% load mytags %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rider</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .orx {
            border: 1px dashed red;
        }
        .og {
            border: 1px dashed green;
        }
    </style>
</head>
<body>
<!--
https://simpleisbetterthancomplex.com/article/2017/08/19/how-to-render-django-form-manually.html
-->


    {{form.errors}}

    <section class="flex items-center justify-center mt-8 px-4 md:px-0 og">

        <form method="POST" action="/rider/">
            {% csrf_token %}
            <input type="hidden" name="id" id="id" value="{{rider_id}}"/><br>

                <div class="flex flex-wrap -mx-3 mb-6 or">

                    <div class="w-full md:w-1/2 px-3 mb-2 md:mb-0 pb-3">
                        <label class="block uppercase tracking-wide text-gray-500 text-xs font-bold mb-2" for="grid-first-name">First Name</label>
                        <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4
                                      leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                id="first_name" name="first_name" type="text" placeholder="First name" value="{{form.first_name.value}}">
                        <div>
                            <ul class="pl-2 text-red-600">
                                {{form.first_name.errors}}
                            </ul>
                        </div>
                    </div>

                    <div class="w-full md:w-1/2 px-3 pb-3">
                        <label class="block uppercase tracking-wide text-gray-500 text-xs font-bold mb-2" for="grid-last-name">Last Name</label>
                        <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4
                                      leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                id="last-name" name="last_name" type="text" placeholder="Last name" value="{{form.last_name.value}}">
                        <ul class="pl-2 text-red-600">
                                {{form.last_name.errors}}
                        </ul>
                    </div>

                </div>

                <div class="flex flex-wrap -mx-3 mb-6 or">
                    <div class="w-full px-3">
                        <label class="block uppercase tracking-wide text-gray-500 text-xs font-bold mb-2" for="grid-password">Address</label>
                        <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4
                                      mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                id="address" name="address" type="text" value="{{form.address.value}}">
                        <ul class="pl-2 text-red-600">
                            {{form.address.errors}}
                        </ul>
                    </div>
                </div>

                <div class="flex flex-wrap -mx-3 mb-6 or">
                    <div class="w-full px-3">
                        <label class="block uppercase tracking-wide text-gray-500 text-xs font-bold mb-2" for="grid-password">City</label>
                        <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4
                                      mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                id="city" name="city" type="text" value="{{form.city.value}}">
                        <ul class="pl-2 text-red-600">
                            {{form.city.errors}}
                        </ul>
                    </div>
                </div>

                <div class="flex flex-wrap -mx-3 mb-6 pb-3 or">
                    <div class="w-full px-3">
                        <label class="block uppercase tracking-wide text-gray-500 text-xs font-bold mb-2" for="grid-password">State</label>
                        <div class="relative">
                            <select
                                class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700
                                    py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                id="state" name="state">
                                {{options_list | safe}}
                            </select>
                            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                    <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex flex-wrap -mx-3 mb-6 or">
                    <div class="w-full px-3">
                        <label class="block uppercase tracking-wide text-gray-500 text-xs font-bold mb-2" for="grid-password">Phone</label>
                        <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4
                                      mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                id="phone" name="phone" type="text" value="{{form.phone.value}}">
                        <ul class="pl-2 text-red-600">
                            {{form.phone.errors}}
                        </ul>
                    </div>
                </div>

            <div>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                        type="submit">Submit</button>
            </div>
        </form>

    </section>
</body>
</html>

